@model ProjetoAdlinMVC.Models.Fornecedor
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.NomeEmpresa</h2>
<p>Cnpj: @Model.Cnpj</p>
<p>Cidade: @Model.Cidade</p>