@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <h1>Adlin Plásticos</h1>
    <p class="lead">Fazendo a diferença.</p>
    <img src="https://thumbs.dreamstime.com/z/pessoal-hospitalar-o-grupo-de-doze-homens-e-mulheres-medica-e-nutre-povos-m%C3%A9dicos-ilustra%C3%A7%C3%A3o-lisa-do-vetor-do-estilo-83912574.jpg" height="150" width="250" img-align="middle" />
    <p>@Html.ActionLink("Venha conhecer nossos serviços", "Index", "Cliente", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row" align="center">
    <li></li>
</div>

<div class="row" align="center">
    <h2>Produtos</h2>
    <p>Acesso aos produtos.</p>
    <p>@Html.ActionLink("Produtos", "Index", "Produto", new { area = "" }, new { @class = "btn btn-primary" })</p>
</div>

<div class="row" align="center">
    <li></li>
</div>

<div class="row" align="center">
    <h2>Fornecedores</h2>
    <p>Acesso aos fornecedores.</p>
    <p>@Html.ActionLink("Fornecedores", "Index", "Fornecedor", new { area = "" }, new { @class = "btn btn-primary" })</p>
</div>

<div class="row" align="center">
    <li></li>
</div>

<div class="row" align="center">
    <h2>Loja Virtual</h2>
    <p>Acesso a loja virtual.</p>
    <p>@Html.ActionLink("Loja Virtual", "Index", "LojaVirtual", new { area = "" }, new { @class = "btn btn-primary" })</p>
</div>